{% comment %} {% extends "account/base.html" %} {% endcomment %}

{% load i18n %}

{% comment %} {% block head_title %}{% trans "Signup" %}{% endblock %} {% endcomment %}
<title>{% trans "Signup" %}</title>

{% block content %}
<h1>ユーザー登録
{% if request.GET.user_type == "1" %}
(企業用)
{% else %}
<!-- todo (一般ユーザー用)は本番までに消す -->
(一般ユーザー用)
{% endif %}
</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="hidden" name="user_type" value="{% if request.GET.user_type == '1' %}1{% else %}0{% endif %}" />
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}

<p>企業の方はこちらから<a href="{% url 'account_signup' %}?user_type=1">企業ユーザー会員登録</a></p>
