{% extends 'base.html' %}
{% load widget_tweaks %}

{% block header %}
    <h1>求人一覧画面</h1>
{% endblock %}

{% block contents %}
    <div>
    求人件数: {{ items.count }} 件
    </div>

    <label>
        {% for item in items %}
            <div>
                {{ item.name }}
                <input 
                    type="button" 
                    name="favoriteItem" 
                    {% if item.is_favorited %} value="いいね済" {% else %} value="いいね！" {% endif %} 
                    data-item_id="{{ item.id }}">
            </div>
        {% endfor %}
    </label>
{% endblock %}

{% block scripts %}
    <script>
        const CSRF_TOKEN = '{{ csrf_token }}'
        for(let elm of document.getElementsByName("favoriteItem")){
            elm.addEventListener("click", (e)=>{
                favoriteItem(e.target.dataset.item_id)
                e.target.value = "いいね済"
            })
        }
        async function favoriteItem(itemId){
            const postData = JSON.stringify({
                item_id: itemId
            })
            res = await executeAPI("api/item_favorite", postData, "POST")
            if(res){

            }
        }

        async function executeAPI(url, body, method) {
            try {
                const headers = {
                    'content-type': 'application/json',
                    'X-CSRFToken': CSRF_TOKEN
                }
                const res = await fetch(
                    url, 
                    {
                        method: method,
                        headers: headers,
                        body: body
                    }
                )
                if (res.status >= 200 && res.status < 300) {
                    return await res;
                }
                else {
                    alert("APIエラー")
                    console.log(res)
                    return null;
                }
            } catch (e) {
                console.log(e);
                return null;
            }
        }
    </script>
{% endblock %}