<div class="section wf-section">
    <div class="container dots">
      <div>
        <div class="fotter-section">
          <div class="footer-flex-container">
            <a href="#" class="footer-logo-link"
              ><img
                src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg"
                alt=""
                class="footer-image"
            /></a>
            <div class="div-block-43">
              <h2 class="footer-heading">Job World</h2>
              <ul role="list" class="w-list-unstyled">
                <li>
                  <a href="#" class="footer-link">運営会社</a>
                </li>
                <li>
                  <a href="#" class="footer-link">プライバシーポリシー</a>
                </li>
              </ul>
            </div>
            <div>
              <h2 class="footer-heading">Contact</h2>
              <div class="text-block-9">TEL:03-3367-3045</div>
            </div>
            <div class="div-block-16">
              <h2 class="footer-heading">Office</h2>
              <div class="text-block-8">
                〒169-0074<br />東京都新宿区北新宿1-7-20<br />プロスペリタ新宿302
              </div>
            </div>
          </div>
          <div class="text-block-7">
            Copyright 2021 Magic World株式会社(マジックワールド株式会社)
          </div>
        </div>
      </div>
    </div>
</div>