<div>
    <!-- ログイン有無、企業・一般ユーザーの状態によって表示を切り替え -->
    <a href="{% url 'recruit:item' %}">求人一覧</a>
    {% if request.user.is_authenticated %}
        {% if request.user.is_normal_user %}
            <a href="{% url 'users:edit_profile' %}">プロフィール編集</a>
        {% elif request.user.is_company_user %}
            <a href="{% url 'users:edit_company_profile' %}">プロフィール編集</a>
        {% endif %}
    {% endif %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'account_logout' %}">ログアウト</a>
    {% else %}
        <a href="{% url 'account_login' %}">ログイン</a>
    {% endif %}
    {% if request.user.is_authenticated %}
        <p>[ログイン中です] email: {{ user.email }}</p>
    {% else %}
        <p>ログインしていません</p>
    {% endif %}
</div>