{% extends 'base.html' %}
{% load widget_tweaks %}

{% block header %}
    <h1>一般ユーザー用のプロフィール編集画面</h1>
{% endblock %}

{% block contents %}
    {% include 'message.html' %}
    <form name="main_form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{ form.nickname | attr:"placeholder:ニックネームを入力" | add_class:"any_class_name" }}
        </div>
        <div>
            {{ form.gender | attr:"placeholder:性別を選択" | add_class:"any_class_name" }}
        </div>
        <div>
            {{ form.address | attr:"placeholder:住所を入力" | attr:"rows:5" | add_class:"any_class_name" }}
        </div>
        <button type="submit" name="save" class="any_class_name">
            保存する
        </button>
    </form>
{% endblock %}
